Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
gunicorn==20.1.0
keras==2.7.0
Keras-Preprocessing==1.1.2
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
pandas @ file:///C:/ci/pandas_1635506685681/work
scikit-learn @ file:///C:/ci/scikit-learn_1622739499047/work
scikit-learn-intelex==2021.20210714.120553
scipy @ file:///C:/ci/scipy_1630606917240/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
